Django==2.2.12
django-analytical==2.2.2
django-bootstrap3==9.0.0
django-flatblocks==0.9.4
django-queryinspect==1.0.0
django-tables2==2.3.1
psycopg2==2.7.3
pytz==2017.2
olefile==0.44
Pillow==8.2.0
sqlparse==0.2.3
