
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load flatblocks %}

{% block head %}Führerstand {{object.name}}{% endblock %}
{% block title %}Führerstand {{object.name}} <small>{{object.path}}</small>{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        {% include "include/panel_list.html" with heading="SIFA" items=object.sifa_display %}
        {% include "include/panel_list.html" with heading="Zugsicherung(PZB/LZB)" items=object.zugsicherung_display %}
        {% include "include/panel_list.html" with heading="Schleuderschutz" items=object.schleuderschutz_display %}
        {% include "include/panel_list.html" with heading="Tür System" items=object.tuer_system_display %}
        {% include "include/panel_list.html" with heading="Notbremse System" items=object.notbremse_system_display %}
      </div>
    </div>
</div>
<h3>Fahrzeugevarianten mit diesem Führerstand</h4>
{% render_table tables.0 'django_tables2/bootstrap.html' %}
{% plain_flatblock "disclaimer.fahrzeuge" evaluated=True %}
<h3>Züge mit diesem Führerstand</h4>
{% render_table tables.1 'django_tables2/bootstrap.html' %}
{% plain_flatblock "disclaimer.fahrplanzuege" evaluated=True %}

{% endblock %}
