
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load flatblocks %}

{% block head %}Führerstand {{object.name}}{% endblock %}
{% block title %}Führerstand {{object.name}} <small>{{object.path}}</small>{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        {% include "include/panel_list.html" with heading="SIFA" items=object.sifa_display %}
        {% include "include/panel_list.html" with heading="Zugsicherung(PZB/LZB)" items=object.zugsicherung_display %}
        {% include "include/panel_list.html" with heading="Schleuderschutz" items=object.schleuderschutz_display %}
        {% include "include/panel_list.html" with heading="Tür System" items=object.tuer_system_display %}
        {% include "include/panel_list.html" with heading="Notbremse System" items=object.notbremse_system_display %}
      </div>
    </div>
    <div class="col-md-5">
      {% if object.blicke.count == 1 %}
        {% for blick in object.blicke.all %}
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{blick.name}}</h3></div>
            <div class="panel-body">
              <img src="{{blick.bild_klein.url}}" />
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="panel panel-primary">
          <div class="panel-heading"><h3 class="panel-title">Ansichten</h3></div>
          <div class="panel-body">
            <div id="carousel-blick" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for blick in object.blicke.all %}
                  <li data-target="#carousel-blick" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
            
              <div class="carousel-inner" role="listbox">
                {% for blick in object.blicke.all %}
                  <div class="item center-block {% if forloop.first %}active{% endif %}">
                    <img src="{{blick.bild_klein.url}}" alt="{{blick.name}}" class="center-block">
                    <div class="carousel-caption">
                        <h4>{{blick.name}}</h4>
                    </div>
                  </div>
                {% endfor %}
              </div>
            
              <a class="left carousel-control" href="#carousel-blick" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-blick" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
</div>
<h3>Fahrzeugevarianten mit diesem Führerstand</h4>
{% render_table tables.0 'django_tables2/bootstrap.html' %}
{% plain_flatblock "disclaimer.fahrzeuge" evaluated=True %}
<h3>Züge mit diesem Führerstand</h4>
{% render_table tables.1 'django_tables2/bootstrap.html' %}
{% plain_flatblock "disclaimer.fahrplanzuege" evaluated=True %}

{% endblock %}
