
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block head %}Führerstand {{object.name}}{% endblock %}
{% block title %}Führerstand {{object.name}} <small>{{object.path}}</small>{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        {% include "include/panel_list.html" with heading="SIFA" items=object.sifa %}
        {% include "include/panel_list.html" with heading="Zugsicherung(PZB/LZB)" items=object.zugsicherung %}
        {% include "include/panel_list.html" with heading="Schleuderschutz" items=object.schleuderschutz %}
        {% include "include/panel_list.html" with heading="Tür System" items=object.tuer_system %}
        {% include "include/panel_list.html" with heading="Notbremse System" items=object.notbremse_system %}
      </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">{% include "include/autor.html" %}</div>
    </div>
</div>


{% endblock %}
