{% load bootstrap3 %}
{% load static %}
{% load analytical %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zusi Datenbank - {% block head %}{% endblock %}</title>

    {# jQuery #}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 

    {# Bootstrap #}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    {# django-tables2 #} 
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />

    <link href="{% static 'template.css' %}" rel="stylesheet">

    {% analytical_head_bottom %}
  </head>
  <body>
    {% analytical_body_top %}
    {% bootstrap_messages %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="nav-logo">Z<sup>3</sup></span> Zusi Datenbank</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.resolver_match.url_name == "index" %}active{% endif %}"></span><a href="/">Home</a></li>
            <li class="{% if request.resolver_match.url_name|slice:":2" == "sm" %}active{% endif %}"><a href="{% url 'db:smlist' %}">Streckenmodule</a></li>
            <li class="{% if request.resolver_match.url_name|slice:":2" == "fp" %}active{% endif %}"><a href="{% url 'db:fplist' %}">Fahrpläne</a></li>
            <li class="{% if request.resolver_match.url_name|slice:":2" == "fz" %}active{% endif %}"><a href="{% url 'db:fzlist' %}">Fahrplanzüge</a></li>
            <li class="{% if request.resolver_match.url_name|slice:":2" == "fv" %}active{% endif %}"><a href="{% url 'db:fvlist' %}">Fahrzeuge</a></li>
            <li class="{% if request.resolver_match.url_name|slice:":2" == "fs" %}active{% endif %}"><a href="{% url 'db:fslist' %}">Führerstande</a></li>
            <li class="{% if request.resolver_match.url_name|slice:":5" == "autor" %}active{% endif %}"><a href="{% url 'db:autorlist' %}">Autoren</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <div class="page-header">
          <h1>{% block title %}{% endblock %}</h1>
        </div>
        <h1></h1>
        {% block content %}{% endblock %}
      </div>

    </div><!-- /.container -->
    {% analytical_body_bottom %}
  </body>
</html>