{% extends "base.html" %}

{% load bootstrap3 %}
{% load flatblocks %}
{% block head %}Zusi 3 Datenbank{% endblock %}
{% block title %}Zusi 3 Datenbank{% endblock %}


{% block content %}

<div class="row">
     <div class="col-md-5">
        <h2>Wilkommen</h2>
        <p>
            Es gibt <b>{{zug_count}}</b> Züge, <b>{{fahrzeug_count}}</b> Fahrzeugvarianten, <b>{{module_count}}</b> Streckenmodule und <b>{{fstand_count}}</b> Führerstande in unser Datenbank!
        </p>
        {% plain_flatblock "home.wilkommen" evaluated=True %}
        <h3>Aktuell</h3>
        {% plain_flatblock "home.aktuell" evaluated=True %}
        <h3>Datenstand</h3>
        {% plain_flatblock "home.datenstand" evaluated=True %}
    </div>
    <div class="col-md-7">
        <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#zug" aria-controls="zug" role="tab" data-toggle="tab">Suche Zug</a></li>
            <li role="presentation"><a href="#fahrzeug" aria-controls="fahrzeug" role="tab" data-toggle="tab">Suche Fahrzeug</a></li>
            <li role="presentation"><a href="#fstand" aria-controls="fstand" role="tab" data-toggle="tab">Suche Führerstand</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="zug">
                <form method="GET" action="/fahrplanzug">
                <p>{% buttons submit='Suche' reset="Frei" %}{% endbuttons %}</p>
                <p class="help-block">Alle leeren Felder sind ignoriert.</p>
                {% bootstrap_form zug_form %}
                {% csrf_token %}
                {% buttons submit='Suche' reset="Frei" %}{% endbuttons %}
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="fahrzeug">
                <form method="GET" action="/fahrzeug">
                <p>{% buttons submit='Suche' reset="Frei" %}{% endbuttons %}</p>
                <p class="help-block">Alle leeren Felder sind ignoriert.</p>
                {% bootstrap_form fahrzeug_form %}
                {% csrf_token %}
                {% buttons submit='Suche' reset="Frei" %}{% endbuttons %}
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="fstand">
                <form method="GET" action="/fuehrerstand">
                <p>{% buttons submit='Suche' reset="Frei" %}{% endbuttons %}</p>
                <p class="help-block">Alle leeren Felder sind ignoriert</p>
                {% bootstrap_form fstand_form %}
                {% csrf_token %}
                {% buttons submit='Suche' reset="Frei" %}{% endbuttons %}
                </form>
            </div>
        </div>

        </div>
    </div>
</div>


{% endblock %}
