
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load flatblocks %}
{% load zusistart_button %}

{% block head %}Fahrplan {{object.name}}{% endblock %}
{% block title %}Fahrplan {{object.name}} <small>{{object.path}}</small>{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Fahrplan</h3></div>
        <div class="panel-body">
          <dl>
          <dt>Anfang</dt><dd>{{object.anfang|date:"D d/m/Y H:i"}}</dd>
        </div>
        <div class="panel-heading">Zug Gruppen</div>
        <ul class="list-group">
            {% for item in fahrplan_gruppen %}
                <li class="list-group-item"><a href="{% url 'db:fzgruppelist' object.path item.fahrplan_gruppe %}">{{item.fahrplan_gruppe}}</a><span class="badge">{{item.fahrplan_gruppe__count}}</span></li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
	    {% zusistart_button request.session.zusistart object.path "" "" %}
    </div>
</div>
<h3>Fahrzüge</h4>
{% render_table tables.0 'django_tables2/bootstrap.html' %}
{% plain_flatblock "disclaimer.fahrplanzuege" evaluated=True %}
<h3>Strecken Module</h4>
{% render_table tables.1 'django_tables2/bootstrap.html' %}

{% endblock %}
